<div class="p-d-flex p-jc-center">
  <form [formGroup]="formAutomata" (ngSubmit)="capturarArray">
    <div class=" p-as-center p-mb-2 p-mt-5">
      <span class="p-float-label">
        <input id="inputs"
               type="text" 
               pInputText
               pTooltip="Ingrese su palabra (Solo letra a y b en minuscula)" 
               [pKeyFilter]="blockSpace" 
               formControlName="inputs">
        <label for="inputs">Entrada</label>
      </span>
    </div>
    <div class=" p-as-center">
      <button pButton type="submit" class="p-ml-6" (click)="capturarArray()">
        <img alt="logo" src="assets/automata.svg" style="width: 1.5rem"/>
        <span class="p-ml-2 p-text-bold">Iniciar</span>
      </button>
    </div>
  </form>
  <p-toast position="bottom-center" key="bc"></p-toast>
</div>
